faiss-cpu==1.10.0
fastapi==0.115.11
langchain==0.3.19
langchain-community==0.3.18
langchain-ollama==0.2.3
numpy==1.26.4
ollama==0.4.7
python-multipart==0.0.20
requests==2.32.3
unstructured==0.16.23
uvicorn==0.34.0
